{% load static %}

<style>
    
    .home-container {
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .cards {
        height: 500px;
        display: flex;
        flex-direction: row;
    }
</style>

<link href="/static/main/css/cards.css" rel="stylesheet">

<div class="home-container">
    {% csrf_token %}
    <div class="cards">
        <div{% if user.is_authenticated %} id="joinQueueButton"{% else %} id="loginButton"{% endif %} class="item card" style="background-image: url({% static 'main/img/online_play.png' %});">
            <p class="card-title">Jouer en ligne</p>
            <p class="card-text">Affrontez des adversaires du monde entier !</p>
            {% if not user.is_authenticated %}<p class="card-text">(Nécessite d'être connecté)</p>{% endif %}
        </div>
        <div{% if user.is_authenticated %} id="localPlayButton"{% else %} id="loginButton"{% endif %} class="item card" style="background-image: url({% static 'main/img/online_play.png' %});">
            <p class="card-title">Jeu local</p>
            <p class="card-text">Jouez contre vos amis sur la même machine !</p>
            {% if not user.is_authenticated %}<p class="card-text">(Nécessite d'être connecté)</p>{% endif %}
        </div>
    </div>
    <div class="changeRender">
        {% if user.is_authenticated %}
            <button  id="changeRenderButton" class="render-button btn btn-primary mt-3 w-100">Changer le rendu</button>
        {% endif %}
        {% if user.is_authenticated and user.tournament_id is None %}
        <form method="post" action="{% url 'update_alias_user' %}">
            {% csrf_token %}
            <input required maxlength="10" type="text" name="alias" placeholder="entrer votre alias ici..." />
            <button type="submit" class="btn btn-primary btn-block w-100">Changer l'alias</button>            
        </form>
    {% endif %}
    </div>
</div>
