{% load static %}

<style>
    
    .home-container {
        margin: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
    }
    .cards {
        height: 500px;
        display: flex;
        flex-direction: row;
    }

</style>

<link href="/static/main/css/cards.css" rel="stylesheet">

<div class="home-container">
    {% csrf_token %}
    <div class="cards">
        <div {% if user.is_authenticated %}id="joinQueueButton"{% else %}id="loginButton"{% endif %} class="item card" style="background-image: url({% static 'main/img/online_play.png' %});">
            <p class="card-title">Jugar en línea</p>
            <p class="card-text">¡Enfréntate a oponentes de todo el mundo!</p>
            {% if not user.is_authenticated %}<p class="card-text">(Requiere estar conectado)</p>{% endif %}
        </div>
        <div {% if user.is_authenticated %}id="localPlayButton"{% else %}id="loginButton"{% endif %} class="item card" style="background-image: url({% static 'main/img/online_play.png' %});">
            <p class="card-title">Juego local</p>
            <p class="card-text">¡Juega contra tus amigos en la misma máquina!</p>
            {% if not user.is_authenticated %}<p class="card-text">(Requiere estar conectado)</p>{% endif %}
        </div>
    </div>
    <div class="changeRender">
        {% if user.is_authenticated %}
            <button  id="changeRenderButton" class="render-button btn btn-primary mt-3 w-100">Cambiar renderizado</button>
        {% endif %}
    </div>
</div>
