{% load static %}

{% if user.is_authenticated %}
    <link href="/main/static/main/css/sidebar.css" rel="stylesheet">
    <!-- Sidebar -->
    <aside class="sidebar">
        <!-- User Info Section -->
        <div class="user-info text-center">
            <img src="/main/static/main/img/default_avatar2.jpg" alt="User Avatar" class="avatar rounded-circle">
            <h3 class="user-name">{{ user.username }}</h3>
        </div>

        <!-- Navigation Buttons -->
        <div class="nav-buttons my-4">
            <button id="profileButton" class="btn btn-primary w-100 mb-2">Profile Page</button>
            <a href="#accountSettings" class="btn btn-secondary w-100">Account Settings</a>
        </div>

        <!-- Friend List Section -->
        <div class="friend-list">
            <h4 class="text-center my-3">Friends</h4>
            <ul class="list-group">
                <!-- List of Friends -->
                <li class="list-group-item">Friend 1</li>
                <li class="list-group-item">Friend 2</li>
                <li class="list-group-item">Friend 3</li>
                <!-- More friends... -->
            </ul>

            <!-- Add Friend Button -->
            <button class="btn btn-success w-100 mt-3">Add New Friend</button>
        </div>
    </aside>
{% endif %}
