{% load static %}

<style>
    /* Custom Navbar Styles */
    .navbar-custom {
        {#background-color: #222; /* Soft black background color */#}
        position: relative; /* Relative position for absolute children */
    }

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: #000000; /* White text color */
        position: relative; /* Relative position for underline */
    }

    .navbar-custom .nav-link:hover,
    .navbar-custom .nav-link.active {
        color: #007bff; /* Red text color on hover and active */
    }

    /* Red underline for active and hover states */
    .navbar-custom .nav-link::after {
        content: "";
        position: absolute; /* Absolute position for the underline */
        bottom: 0; /* Align at the bottom of the navbar */
        left: 0; /* Start from the left edge */
        right: 0; /* Stretch to the right edge */
        width: 0; /* Initially set to zero */
        height: 2px;
        background-color: #007bff; /* Red color for the underline */
        transition: width 0.3s; /* Smooth transition for the underline */
        margin-left: auto; /* Centering */
        margin-right: auto; /* Centering */
    }

    .navbar-custom .nav-link:hover::after,
    .navbar-custom .nav-link.active::after {
        width: 100%; /* Full width on hover and active */
    }

    /* Centering the navbar items */
    .navbar-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav-item {
        margin: 0 5px; /* Optional: Adds spacing between items */
    }
</style>

<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button id="homeButton" class="nav-link btn btn-link active" type="button">Home</button>
                </li>
                <li class="nav-item">
                    <button id="playButton" class="nav-link btn btn-link" type="button">Play</button>
                </li>
                {% if user.is_superuser %}
                    <li class="nav-item">
                       <a id="adminButton" class="nav-link btn btn-link" href="https://localhost/admin/" target="_blank" rel="noopener noreferrer">Admin</a>
                    </li>
                {% endif %}
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <button id="loginButton" class="nav-link btn btn-link" type="button">Login</button>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <button id="logoutButton" class="nav-link btn btn-link" type="button">Logout</button>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<script src="{% static 'main/js/navbar.js' %}"></script>

