<link href="../static/tournaments/css/custom_tournament.css" rel="stylesheet" type="text/css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Rubik+Doodle+Shadow&family=Lato&family=Bungee+Spice&display=swap" rel="stylesheet">

<div class="tournament">
    <div class="round" id="round1">
        <!-- Match 1 -->
        <div class="match">
            <!-- Left Side Country and Flag -->
            <div class="player left">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player1</span>
            </div>

            <!-- Score -->
            <div class="score">
                <span class="score-number">4</span>
                <span class="score-separator">:</span>
                <span class="score-number">1</span>
            </div>

            <!-- Right Side Country and Flag -->
            <div class="player right">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player2</span>
            </div>
        </div>

        <!-- Match 2 (repeat as needed) -->
        <div class="match">
            <!-- Left Side Country and Flag -->
            <div class="player left">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player1</span>
            </div>

            <!-- Score -->
            <div class="score">
                <span class="score-number">4</span>
                <span class="score-separator">:</span>
                <span class="score-number">1</span>
            </div>

            <!-- Right Side Country and Flag -->
            <div class="player right">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player2</span>
            </div>
        </div>
        
        <!-- Match 1 -->
        <div class="match">
            <!-- Left Side Country and Flag -->
            <div class="player left">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player1</span>
            </div>

            <!-- Score -->
            <div class="score">
                <span class="score-number">4</span>
                <span class="score-separator">:</span>
                <span class="score-number">1</span>
            </div>

            <!-- Right Side Country and Flag -->
            <div class="player right">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player2</span>
            </div>
        </div>

        <!-- Match 2 (repeat as needed) -->
        <div class="match">
            <!-- Left Side Country and Flag -->
            <div class="player left">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player1</span>
            </div>

            <!-- Score -->
            <div class="score">
                <span class="score-number">4</span>
                <span class="score-separator">:</span>
                <span class="score-number">1</span>
            </div>

            <!-- Right Side Country and Flag -->
            <div class="player right">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player2</span>
            </div>
        </div>
    </div>
    
    <div class="round" id="round2">
        <!-- Match 1 -->
        <div class="match">
            <!-- Left Side Country and Flag -->
            <div class="player left">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player1</span>
            </div>

            <!-- Score -->
            <div class="score">
                <span class="score-number">4</span>
                <span class="score-separator">:</span>
                <span class="score-number">1</span>
            </div>

            <!-- Right Side Country and Flag -->
            <div class="player right">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player2</span>
            </div>
        </div>
        
        <div class="match">
            <!-- Left Side Country and Flag -->
            <div class="player left">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player1</span>
            </div>

            <!-- Score -->
            <div class="score">
                <span class="score-number">4</span>
                <span class="score-separator">:</span>
                <span class="score-number">1</span>
            </div>

            <!-- Right Side Country and Flag -->
            <div class="player right">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player2</span>
            </div>
        </div>
        
    </div>
    
    <div class="round">
        <!-- Match 1 -->
        <div class="match">
            <!-- Left Side Country and Flag -->
            <div class="player left">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player1</span>
            </div>

            <!-- Score -->
            <div class="score">
                <span class="score-number">4</span>
                <span class="score-separator">:</span>
                <span class="score-number">1</span>
            </div>

            <!-- Right Side Country and Flag -->
            <div class="player right">
                <img src="/main/static/main/img/default_avatar.jpg" alt="Player's Avatar" class="player-avatar" />
                <span class="player-username">Player2</span>
            </div>
        </div>
        
    </div>
</div>
