<link rel="stylesheet" type="text/css" href="/static/tournaments/css/tournament_rounds.css">

<div class="rounds">
    {% for round in tournament.rounds.all %}
        <div class="round">
            <div class="round-title">
                <h2>Manche {{ round.number }}</h2>       
                <h3>{{ round.status }}</h3>
                {% if round.status == "scheduled" %}
                    <h3 class="round-timer" data-start-time="{{ round.start_time|date:'c' }}"></h3>
                    <script type="module">
                        console.log("script running");
                        import { roundTimers } from "/static/tournaments/js/tournaments";
                        roundTimers();
                    </script>
                {% endif %}
            </div>
            {% for match in round.matches.all %}
                <div class="match">
                    <div class="player left">
                        {% if match.participants.first.player %}
                            <img src="{{ match.participants.first.player.avatar_url|default:'/static/main/img/default_avatar.jpg' }}" alt="Avatar de {{ match.participants.first.player.alias }}" class="player-avatar" />
                            <span class="player-username">{{ match.participants.first.player.alias }}</span>
                        {% else %}
                            <span class="player-username">À déterminer</span>
                        {% endif %}
                    </div>
                    {% if match.status == "in progress" %}
                        <div class="score">
                            <p>Match en cours</p>
                        </div>
                    {% elif match.status == "scheduled" %}
                        <div class="ready-state">
                            <div class="ready-state-players">
                                <span class="ready-state-player">
                                    {% if match.participants.first.is_ready %}
                                        <img class="ready-state-icon" src="/static/tournaments/img/ready.png" alt="Prêt" />
                                    {% else %}
                                        <img class="ready-state-icon" src="/static/tournaments/img/not_ready.png" alt="Pas prêt" />
                                    {% endif %}
                                </span>
                                <span class="ready-state-player">
                                    {% if match.participants.last.is_ready %}
                                        <img class="ready-state-icon" src="/static/tournaments/img/ready.png" alt="Prêt" />
                                    {% else %}
                                        <img class="ready-state-icon" src="/static/tournaments/img/not_ready.png" alt="Pas prêt" />
                                    {% endif %}
                                </span>
                            </div>
                            {% if participant and participant.match_id == match.id %}
                                {% if not participant.is_ready %}
                                    <button id="tournamentUserReadyButton" class="ready-state-button ready btn btn-primary w-100" data-match-id="{{ match.id }}">Prêt</button>
                                {% else %}
                                    <button id="tournamentUserNotReadyButton" class="ready-state-button not-ready btn btn-danger w-100" data-match-id="{{ match.id }}">Pas prêt</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% elif match.status == "completed" %}
                        <div class="score">
                            <p>Match gagné par {{ match.winner }}</p>
                        </div>
                    {% endif %}
                    <div class="player right">
                        {% if match.participants.last.player %}
                            <img src="{{ match.participants.last.player.avatar_url|default:'/static/main/img/default_avatar.jpg' }}" alt="Avatar de {{ match.participants.last.player.alias }}" class="player-avatar" />
                            <span class="player-username">{{ match.participants.last.player.alias }}</span>
                        {% else %}
                            <span class="player-username">À déterminer</span>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>Aucun match programmé pour cette manche pour l'instant.</p>
            {% endfor %}
        </div>
    {% endfor %}
</div>
