<style>
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
  }

  .form-alias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #createTournamentButton {
    display: block;
    margin: 20px auto;
  }

  @media (max-width: 767px) {
    .card-container .col-md-4 {
      max-width: 100%;
    }
  }
</style>

<div id="tournamentsContainer" class="container mt-4">
  {% if user.is_authenticated and user.tournament_id is None %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm my-4">
          <div class="card-body text-center">
            <h5 class="card-title">Choose an alias</h5>
            <form class="form-alias" method="post" action="{% url 'update_alias_user' %}">
              {% csrf_token %}
              <div class="mb-3">
                <input
                  class="form-control"
                  required
                  maxlength="20"
                  type="text"
                  name="alias"
                  placeholder="Enter new alias here..."
                  aria-label="New alias"
                />
              </div>
              <div class="d-grid gap-2 mx-auto">
                <button type="submit" class="btn btn-primary">
                  Change Alias
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endif %}
  <button id="createTournamentButton" class="btn btn-primary">
    Create Tournament
  </button>
  <h1 class="text-center">Open Tournaments</h1>
  <div class="row card-container">
    {% for tournament in tournaments %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <h5 class="card-title">{{ tournament.name }}</h5>
          <p class="card-text">
            Players: {{ tournament.participants.count }}/{{ tournament.size }}
          </p>
          <p class="card-text">Status: {{ tournament.get_status_display }}</p>
          {% if tournament.status == "open" %}
          <button
            class="btn btn-primary joinTournamentButton"
            data-tournament-id="{{ tournament.id }}"
          >
            Join Tournament
          </button>
          {% elif tournament.status == "completed" %}
          <p class="card-text">Won by {{ tournament.winner }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12 text-center">
      <p>No open tournaments at the moment.</p>
    </div>
    {% endfor %}
  </div>
</div>
