<link rel="stylesheet" type="text/css" href="/tournaments/static/tournaments/css/tournament_participants.css">

<table class="participant-list">
            <thead>
                <tr>
                    <th>Joueurs inscrit</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in tournament.participants.all %}
                    <tr>
                        <td>
                            <img src="/main/static/main/img/default_avatar.jpg" alt="Participant's Avatar" class="participant-list-avatar">
                            <span class="participant-list-username">{{ participant.user.username }}</span>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
</table>