<style>
  .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px;
  }

  .form-alias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  #createTournamentButton {
    display: block;
    margin: 20px auto;
  }

  @media (max-width: 767px) {
    .card-container .col-md-4 {
      max-width: 100%;
    }
  }
</style>

<div id="tournamentsContainer" class="container mt-4">
  {% if user.is_authenticated and user.tournament_id is None %}
  <form class="form-alias" method="post" action="{% url 'update_alias_user' %}">
    {% csrf_token %}
    <input
      required
      maxlength="20"
      type="text"
      name="alias"
      placeholder="Ingrese nuevo alias aquí..."
    />
    <button type="submit" class="btn btn-primary btn-block w-15">
      Cambiar alias
    </button>
  </form>
  {% endif %}
  <button id="createTournamentButton" class="btn btn-primary">
    Crear Torneo
  </button>
  <h1 class="text-center">Torneos Abiertos</h1>
  <div class="row card-container">
    {% for tournament in tournaments %}
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body text-center">
          <h5 class="card-title">{{ tournament.name }}</h5>
          <p class="card-text">
            Jugadores: {{ tournament.participants.count }}/{{ tournament.size }}
          </p>
          <p class="card-text">Estado: {{ tournament.get_status_display }}</p>
          {% if tournament.status == "open" %}
          <button
            class="btn btn-primary joinTournamentButton"
            data-tournament-id="{{ tournament.id }}"
          >
            Unirse al Torneo
          </button>
          {% elif tournament.status == "completed" %}
          <p class="card-text">Ganado por {{ tournament.winner }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    {% empty %}
    <div class="col-12 text-center">
      <p>No hay torneos abiertos en este momento.</p>
    </div>
    {% endfor %}
  </div>
</div>
