<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Inscription</h2>
            <form method="post" action="{% url 'register_view' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block w-100">Inscription</button>
            </form>
            <div class="text-center mt-3">
                <p>Deja un compte?<button id="loginButton" class="btn btn-link">Connecte toi!</button></p>
            </div>
        </div>
    </div>
</div>
