{% load static %}

<link href="{% static 'users/css/user_profile.css' %}" rel="stylesheet">

<div class="player-profile-container">
    <div class="profile-header text-center">
        <img src="{% static 'users/img/user_avatar.jpg' %}" alt="Avatar du joueur" class="avatar img-thumbnail mb-3">
        <h2>Nom du joueur</h2>
        <p class="record">50V - 50D (Taux de victoire de 50%)</p>
    </div>

    <div class="match-history mt-5">
        <h3 class="text-center mb-4">Historique des matchs</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Adversaire</th>
                    <th scope="col">Résultat</th>
                </tr>
            </thead>
            <tbody>
                <!-- Répéter cette ligne pour chaque match -->
                <tr>
                    <td>2024-01-08</td>
                    <td>Nom de l'adversaire</td>
                    <td>Victoire/Défaite</td>
                </tr>
                <!-- Fin de la ligne de match -->
            </tbody>
        </table>
    </div>
</div>
