@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato&display=swap');

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card p {
    text-shadow:
        -1px -1px 0 rgba(0, 0, 0, 0.3),
         1px -1px 0 rgba(0, 0, 0, 0.3),
        -1px  1px 0 rgba(0, 0, 0, 0.3),
         1px  1px 0 rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.card-title {
    font-size: 24px;
    font-family: 'Bungee Spice', sans-serif;
    bottom: 10px;
    position: absolute;
}

.card-text {
    display: none;
    color: whitesmoke; /* Text color */
    text-align: center;
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    z-index: 1;
}

.item:hover .card-text {
    display: block; /* Show text on hover */
}


.item {
    width: 200px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 2px 3px 1px #0006;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.item::before,
.item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.65s ease, left 0.5s ease;
    border-radius: 15px;
}

.item::before {
    background-color: rgba(255, 255, 255, 0); /* Transparent by default */
    z-index: 1;
}

.item::after {
    background-color: #fff9;
    opacity: 0.6;
    left: -100%;
    width: 5vmin;
    box-shadow: 0 0 10vmin 2.5vmin #fff;
    transform: skew(-20deg);
    z-index: 0;
}

.item:hover::before {
    background-color: rgba(0, 0, 0, 0.7); /* Darkens on hover */
    opacity: 0.5; /* Adjust opacity for darkening effect */
}

.item:hover::after {
    left: 100%; /* Moves the skewed overlay on hover */
}
