body {
    background-color: rgba(230, 230, 230, 0.5); /* White with slight opacity */
    display: flex; /* Enable flexbox for the body */
    flex-direction: row; /* Align elements horizontally */
    height: 100vh; /* Full viewport height */
}

#mainContentWrapper {
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    flex-direction: column; /* Stack navbar and pageContainer vertically */
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#navbarContainer, #pageContainer {
    width: 100%; /* Ensure they take full width of the wrapper */
    /* Additional styling as needed */
}

#pageContainer {
    flex-grow: 1; /* Allow page container to grow and fill the space */
    display: flex;
    justify-content: center;

}

#queueContainer {
    position: absolute;
    bottom: 50px;
    width: 20%; /* Or a fixed width, e.g., 300px */
    max-width: 300px; /* Optional: maximum width */
    height: 10%;
    max-height: 150px;
}

/* Optional: Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    #queueContainer {
        width: 95%;
        bottom: 20px;
        padding: 15px;
    }
}
